html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.css-1e4w6be {
  padding-top: 24px !important;
}

/* .css-i4bv87-MuiSvgIcon-root {
  width: 0.8em !important;
} */

@layer utilities {
  .left-97percent {
    left: 97%;
  }

  .left-63percent {
    left: 63%;
  }

  .left-30percent {
    left: 30%;
  }

  .w-97percent {
    width: 97%;
  }

  .w-63percent {
    width: 63%;
  }

  .w-30percent {
    width: 30%;
  }
}